$tileDimension: 15px;
$tileLineHeight: $tileDimension - 2px;
$iconFontSize: 10px;

.dungeonDisplay {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: $tileDimension * 40;
  width: $tileDimension * 40;

  .row {
    display: inline-block;
    width: 100%;
  }

  .tile {
    display: inline-block;
    height: $tileDimension;
    line-height: $tileLineHeight;
    text-align: center;
    vertical-align: middle;
    width: $tileDimension;

    span {
      display: block;
      font-size: $iconFontSize;
    }
  }
}