<div class="dungeonDisplay">
    <div class="row" *ngFor="let row of maps[currentIndex].tiles">
        <div class="tile"
             *ngFor="let tile of row"><span [ngStyle]="{'color': tile.getColor()}">{{tile.getIcon()}}</span></div>
    </div>
</div>
